<section class="container-center">
  <h4 class="mb-16">Privacy Policy for <span>{{getWebsiteTitle()}}</span> ( <span>{{getWebsiteShortTitle()}}</span>) </h4>
  <p class="mb-2">
    <strong>Last updated: [<span>{{getPrivacyPolicyLastUpdated()}}</span>] </strong>
  </p>
  <p>Welcome to <a class="btn-link" href="{{getWebsiteURL()}}/">{{getWebsiteURL()}}</a> ("the Website"). This Privacy Policy outlines the types of personal information we receive and collect when you use the Website, as well as some of the steps we take to safeguard information. This will help you make an informed decision about sharing personal information with us. </p>
  <h5>Scope of this Privacy Policy</h5>
  <p>This Privacy Policy applies only to your use of the Website. The Website contains links to other websites. Once redirected to another website, this Privacy Policy is no longer applicable.</p>
  <h5>Personal Information and Third Parties</h5>
  <p>Since we do not collect any personal information from you directly, we do not share your personal information with any third-party marketers or any persons or entities outside our company.</p>
  <h5>External Links</h5>
  <p>Our website contains links to other websites. We are not responsible for the privacy practices or content of these third-party sites. We encourage you to read the privacy policies of other websites you visit for information regarding their privacy practices.</p>
  <h5>Cookies</h5>
  <p>The Website uses cookies to store information about visitors' preferences, to record user-specific information on which pages the site visitor accesses or visits, and to personalize or customize our web page content based on visitors' browser type or other information that the visitor sends via their browser.</p>
  <h5>GDPR Compliance</h5>
  <p>Even though we don't collect personal information, GDPR requires that we maintain a privacy policy. If you are a resident of the European Union, your privacy rights are protected by the European Union General Data Protection Regulation (GDPR).</p>
  <h6 class="mb-2">Data Protection Rights under GDPR</h6>
  <ul class="bx-ul">
    <li>
      <i class="bx bx-check-circle text-success-default"></i>
      <strong>The Right to Access</strong> - You have the right to request copies of your personal data.
    </li>
    <li>
      <i class="bx bx-check-circle text-success-default"></i>
      <strong>The Right to Rectification</strong> - You have the right to request that we correct any information you believe is inaccurate.
    </li>
    <li>
      <i class="bx bx-check-circle text-success-default"></i>
      <strong>The Right to Erasure</strong> - You have the right to request that we erase your personal data, under certain conditions.
    </li>
    <li>
      <i class="bx bx-check-circle text-success-default"></i>
      <strong>The Right to Object to Processing</strong> - You have the right to object to our processing of your personal data, under certain conditions.
    </li>
  </ul>
  <h5>Changes to This Privacy Policy</h5>
  <p>We may make changes to this Privacy Policy from time to time. You may be asked to review and re-accept the information in this policy if it changes in the future.</p>
  <h5>Contact Us</h5>
  <p>If you have any questions or concerns regarding this Privacy Policy, please feel free to contact us at <a href="mailto:{{getContactEmail()}}" class="btn-link">{{getContactEmail()}}</a>. </p>
</section>