<div class="max-w-5xl mx-auto min-w-[400px] py-10 px-10 lg:px-0 grid place-items-center">
  
  <w-display-image
    width="150"
    height="150"
    class="mb-6"
    [imagePath]="logoResource"
  ></w-display-image>

  <div class="mb-5">
    <h2 class="text-center mb-3">What are my areas of expertise?</h2>
    <p class="text-center">
      I've been passionate about graphics for over 10 years, but what initially started as a hobby I decided to turn into a professional activity to which I dedicate full time. When your job is your passion, you can't say that you're working but rather living your dream and fulfilling your purpose, and work is a joy. I love graphics, I love to work, and I never get bored.
    </p>
  </div>

  <div class="flex w-full lg:w-auto flex-col lg:flex-row lg:justify-start">
    <button (click)="goToAdobeBehance()" class="btn border bg-primary hover:bg-primary-500  hover:text-white lg:mr-2 w-full lg:w-auto">Take a look at my Adobe portfolio</button>
    <button class="btn border text-warning hover:text-dark border-warning hover:bg-warning lg:ml-2 w-full lg:w-auto">Read my blog</button>
  </div>

</div>