<div 
    [ngClass]="{ 
      'relative bg-center bg-cover': true,
      'h-screen': fullHeight,
      'h-96': !fullHeight
    }" 
    [style.backgroundImage]="'linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url(' + heroImageURL + ')'">
  <div class="absolute inset-0 grid place-items-center text-white">
    <div class="text-center">
      <h1 class="text-7xl lg:text-8xl mb-5 font-light">{{this.data.image.path}}</h1>
      <h5 class="font-special uppercase text-lg lg:text-xl font-bold mb-20"  *ngIf="fullHeight">{{this.data.text.content}}</h5>
      <ng-container *ngIf="this.data.button?.title && fullHeight">
        <button         
          [innerHTML]="this.data.button?.title"
          (click)="getAction()"
          class="rounded-full 
              pt-1
              w-14 
              h-14 
              border-2 
              text-2xl 
              lg:w-20 
              lg:h-20 
              lg:border-4 
              lg:text-4xl 
              border-white 
              bg-transparent 
              transform 
              transition-transform 
              duration-300 
              hover:scale-110">          
        </button>
      </ng-container>
    </div>
  </div>
</div>