<div class="relative h-screen bg-center bg-cover" [style.backgroundImage]="'linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url(' + heroImageURL + ')'">
  <div class="absolute inset-0 grid place-items-center text-white">
    <div class="text-center">
      <h1 class="text-6xl md:text-7xl lg:text-8xl mb-5 font-light">{{title}}</h1>
      <h5 class="font-special-simple uppercase font-bold mb-20"  *ngIf="fullHeight">{{subtitle}}</h5>
      <button 
        (click)="scrollDown()"
        class="rounded-full 
            w-14 
            h-14 
            border-2 
            text-3xl 
            lg:w-20 
            lg:h-20 
            lg:border-4 
            lg:text-5xl 
            border-white 
            bg-transparent 
            transform 
            transition-transform 
            duration-300 
            hover:scale-110" 
          *ngIf="fullHeight">
        <i class='bx bx-arrow-back bx-rotate-270'></i>
      </button>
    </div>
  </div>
</div>
