/* I am using Tailwind in this project, and Tailwind recommended not using SASS, but this stylesheet is very complex, and I don't want to rewrite it in Tailwind. So I am using SASS for this stylesheet only.
step 1. npm install -g sass
step 2. open the terminal and run sass --watch src/app/widgets/timeline/timeline-component.scss src/app/widgets/timeline/timeline-component.css
step 2'. open the terminal in the component folder and run sass --watch timeline-component.scss timeline-component.css
*/
.timeline-left-first {
  position: relative;
}
.timeline-left-first:before {
  content: "";
  width: 10px;
  height: 110%;
  top: -8%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.timeline-left-first .timeline-item {
  position: relative;
  margin-bottom: 2rem;
}
.timeline-left-first .timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-left-first .timeline-item::after {
  content: "";
  display: block;
  clear: both;
}
.timeline-left-first .timeline-item .timeline-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
}
.timeline-left-first .timeline-item .timeline-content {
  position: relative;
  width: 45%;
  padding: 20px;
  border-radius: 20px;
}
.timeline-left-first .timeline-item .timeline-content::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 40px;
  top: calc(45px - (40px / 2));
  right: -30px;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.timeline-left-first .timeline-item:nth-child(even) .timeline-content {
  float: right;
}
.timeline-left-first .timeline-item:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 40px;
  top: calc(45px - (40px / 2));
  left: -30px;
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}

.timeline-right-first {
  position: relative;
}
.timeline-right-first:before {
  content: "";
  width: 10px;
  height: 110%;
  top: -8%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.timeline-right-first .timeline-item {
  position: relative;
  margin-bottom: 2rem;
}
.timeline-right-first .timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-right-first .timeline-item::after {
  content: "";
  display: block;
  clear: both;
}
.timeline-right-first .timeline-item .timeline-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
}
.timeline-right-first .timeline-item .timeline-content {
  position: relative;
  width: 45%;
  padding: 20px;
  border-radius: 20px;
}
.timeline-right-first .timeline-item .timeline-content::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 40px;
  top: calc(45px - (40px / 2));
  right: -30px;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.timeline-right-first .timeline-item:nth-child(odd) .timeline-content {
  float: right;
}
.timeline-right-first .timeline-item:nth-child(odd) .timeline-content::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 40px;
  top: calc(45px - (40px / 2));
  left: -30px;
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}

.timeline-left {
  position: relative;
}
.timeline-left:before {
  content: "";
  width: 10px;
  height: 110%;
  top: -8%;
  position: absolute;
  right: 0%;
  transform: translateX(50%);
}
.timeline-left .timeline-item {
  position: relative;
  margin-bottom: 2rem;
}
.timeline-left .timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-left .timeline-item::after {
  content: "";
  display: block;
  clear: both;
}
.timeline-left .timeline-item .timeline-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  right: 0%;
  transform: translateX(50%);
  top: 25px;
}
.timeline-left .timeline-item .timeline-content {
  position: relative;
  width: 95%;
  padding: 20px;
  border-radius: 20px;
  float: left;
}
.timeline-left .timeline-item .timeline-content::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 20px;
  top: calc(45px - (20px / 2));
  right: -14px;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.timeline-right {
  position: relative;
}
.timeline-right:before {
  content: "";
  width: 10px;
  height: 110%;
  top: -8%;
  position: absolute;
  left: 0%;
  transform: translateX(-50%);
}
.timeline-right .timeline-item {
  position: relative;
  margin-bottom: 2rem;
}
.timeline-right .timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-right .timeline-item::after {
  content: "";
  display: block;
  clear: both;
}
.timeline-right .timeline-item .timeline-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 0%;
  transform: translateX(-50%);
  top: 25px;
}
.timeline-right .timeline-item .timeline-content {
  position: relative;
  width: 95%;
  padding: 20px;
  border-radius: 20px;
  float: right;
}
.timeline-right .timeline-item .timeline-content::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 20px;
  top: calc(45px - (20px / 2));
  left: -14px;
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}

/*# sourceMappingURL=timeline-component.css.map */
