<div class="container-center flex flex-col-reverse md:flex-row items-center">
  <div class="md:w-1/2 flex justify-center items-center">
      <w-image-display 
        [imagePath]="images[0].path"   
        [hasOverlay]="true"
        [overlayTitle]="images[0].caption"
        [overlaySubtitle]="images[0].details"
        [overlayHasLinkButton]="true"
        [overlayLinkButtonLabel]="images[0].overlayButtonTitle"
        [overlayLinkButtonURL]="images[0].overlayButtonLink"   
        class="md:shadow-[-1.5rem_1.5rem] 
        md:shadow-light-default/50">
      </w-image-display>      
   </div>
  <div class="md:w-1/2 ms-10">
    <h3 class="mb-3">Crafting a vision</h3>
    <p>
      With the advent of generative art...
    </p>
    <ul>
      <li><i class="bx bx-check-circle text-success-default me-5 scale-[1.8]"></i>finding a theme, a subject, or simply falling into daydreaming</li>
      <li><i class="bx bx-check-circle text-success-default me-5 scale-[1.8]"></i>developing the ability to express that vision in a prompt</li>
      <li><i class="bx bx-check-circle text-success-default me-5 scale-[1.8]"></i>studying artistic movements and artworks, or even other generative artworks</li>
      <li><i class="bx bx-check-circle text-success-default me-5 scale-[1.8]"></i>and last but not least, processing and finishing the generated image, giving it a personal touch and enriching what the machine has created</li>
    </ul>
  </div>
</div>

