<!-- <div class="container-center flex flex-col lg:flex-row">
  <div class="lg:w-1/2">
    <w-image-display
      [imagePath]="image"
    ></w-image-display>
  </div>
  <div class="lg:w-1/2">
    <h3>Crafting a vision</h3>
    <p>
      With the advent of generative art, the poetry of words came to life and took on color through the magic of some kind of image, which was hard to imagine or conceive before this revolutionary technology. Although I initially strongly rejected this new tool, I ended up loving it and using it almost nonstop. Creating a unique image using AI technology involves:
    </p>
    <ul>
      <li><i class="bx bx-check-circle text-success-default me-5 scale-[1.8]"></i>finding a theme, a subject, or simply falling into daydreaming</li>
      <li><i class="bx bx-check-circle text-success-default me-5 scale-[1.8]"></i>developing the ability to express that vision in a prompt</li>
      <li><i class="bx bx-check-circle text-success-default me-5 scale-[1.8]"></i>studying artistic movements and artworks, or even other generative artworks</li>
      <li><i class="bx bx-check-circle text-success-default me-5 scale-[1.8]"></i>and last but not least, processing and finishing the generated image, giving it a personal touch and enriching what the machine has created</li>
    </ul>
  </div>
</div> -->
<div class="container-center flex flex-col-reverse lg:flex-row items-center">
  <div class="lg:w-1/2 flex justify-center items-center">
    <w-image-display [imagePath]="image"></w-image-display>
  </div>
  <div class="lg:w-1/2 ms-10">
    <h3>Crafting a vision</h3>
    <p>
      With the advent of generative art...
    </p>
    <ul>
      <li><i class="bx bx-check-circle text-success-default me-5 scale-[1.8]"></i>finding a theme, a subject, or simply falling into daydreaming</li>
      <li><i class="bx bx-check-circle text-success-default me-5 scale-[1.8]"></i>developing the ability to express that vision in a prompt</li>
      <li><i class="bx bx-check-circle text-success-default me-5 scale-[1.8]"></i>studying artistic movements and artworks, or even other generative artworks</li>
      <li><i class="bx bx-check-circle text-success-default me-5 scale-[1.8]"></i>and last but not least, processing and finishing the generated image, giving it a personal touch and enriching what the machine has created</li>
    </ul>
  </div>
</div>