<ng-container [ngSwitch]="widgetType">


  <ng-container *ngSwitchCase="'hero'">
    <header class="mb-10 lg:mb-20">
      <a4mbs-hero    
        [data]="this.heroData!"
        [fullHeight]="true"
      ></a4mbs-hero>
    </header>
  </ng-container>



  <ng-container *ngSwitchCase="'header'">
    <header class="mb-24">
      <a4mbs-hero    
        [data]="this.headerData!"
        [fullHeight]="false"
      ></a4mbs-hero>
    </header>
  </ng-container>



  <ng-container *ngSwitchCase="'iconAndContentWithTwoButtons'">
    <section class="mb-20 lg:mb-32">
      <a4mbs-icon-and-content-with-two-buttons
        [data]="this.iconAndContentWithTwoButtonsData!">      
      </a4mbs-icon-and-content-with-two-buttons>
    </section>
  </ng-container>



  <ng-container *ngSwitchCase="'featureWithImageOnTheLeftAndBulletPoints'">
    <section class="mb-20 lg:mb-32">
       <a4mbs-feature-with-image-on-the-left-and-bullet-points
       [data]="this.featureWithImageOnTheLeftAndBulletPointsData!">
    </a4mbs-feature-with-image-on-the-left-and-bullet-points>
    </section>   
  </ng-container>


  <ng-container *ngSwitchCase="'alternatedTimeline'">
    <section class="mb-20 lg:mb-32">
      <a4mbs-timeline timelineColor="warning" elementColor="light-alternative">
        <ng-container *ngFor="let item of this.alternatedTimelineData">
          <ng-template #timelineElement>
            <h6>{{item.subtitle}}</h6>
            <h3 class="mb-4">{{item.title}}</h3>
            <p [innerHTML]="item.content"></p>
            </ng-template>
          </ng-container>
      </a4mbs-timeline> 
    </section>
  </ng-container>



  <ng-container *ngSwitchCase="'alternatedFeatureWithImagesAndText'">
    <section class="mb-20 lg:mb-32">
      <a4mbs-alternated-feature-with-images-and-text
        [data]="this.alternatedFeatureWithImagesAndTextData!">
      </a4mbs-alternated-feature-with-images-and-text>
    </section>
  </ng-container>



  <ng-container *ngSwitchCase="'featuresList'">
    <section class="mb-20 lg:mb-32">
      <a4mbs-features-list
        [data]="this.featuresListData!">
      </a4mbs-features-list>
    </section>
  </ng-container>



  <ng-container *ngSwitchCase="'gallery'">
    <section class="mb-0 lg:mb-0">
      <a4mbs-gallery
        [data]="this.gallery!">
      </a4mbs-gallery>
    </section>
  </ng-container>


  <ng-container *ngSwitchCase="'gallery1'">
    <section class="mb-20 lg:mb-32">
      <a4mbs-gallery
        [data]="this.gallery1!">
      </a4mbs-gallery>
    </section>
  </ng-container>

  <ng-container *ngSwitchCase="'callToAction'">
    <section class="mb-20 lg:mb-32">
      <a4mbs-call-to-action
        [data]="this.callToActionData!"
      ></a4mbs-call-to-action>
    </section>    
  </ng-container>
</ng-container>


