<section class="max-w-7xl mx-auto py-10 px-10 lg:px-0 min-w-[400px]">
  
    <h4 class="mb-5">
      Terms and Conditions for  <span>{{getWebsiteTitle()}}</span>
      (<span>{{getWebsiteShortTitle()}}</span>)  
    </h4>
  
    <div class="mb-5">
      <span><strong>Last updated: [<span>{{getPrivacyTermsOfUseUpdated()}}</span>]</strong></span>
      <p>Welcome to <a href="{{getWebsiteURL()}}/">{{getWebsiteURL()}}</a> ("the Website"). Please read these Terms and Conditions ("the Terms") carefully before using our Website. </p>
    </div>
    
    <div class="mb-5">
      <h5>Agreement</h5>
      <p>By accessing or using the Website, you agree to comply with these Terms and all applicable laws and regulations. If you do not agree with these Terms, please do not use the Website.</p>
    </div>
  
    <div class="mb-5">
      <h5>Intellectual Property Rights</h5>
      <p>All content displayed on this Website, including but not limited to text, graphics, photographs, are our property or are used with the owner's permission. Unauthorized use of this content will be considered a violation of copyright laws, trademark laws, and other applicable laws.</p>
    </div>
  
    <div class="mb-5">
      <h5>Use of Materials</h5>
      <p><strong>It is strictly prohibited to use any photographs directly from the Website.</strong> If you wish to use our photographs, please follow the links attached to the photographs that will redirect you to platforms such as Behance or other authorized platforms from where you can download or purchase the photographs.</p>
    </div>
  
    <div class="mb-5">
      <h5>Links to Other Websites</h5>
      <p>Our Website may contain links to third-party websites. We are not responsible for the content, accuracy, or opinions expressed on such websites, and such websites are not investigated, monitored, or checked by us for accuracy or completeness.</p>
    </div>
  
    <div class="mb-5">
      <h5>Changes to the Terms</h5>
      <p>We may revise these Terms at our discretion, by updating this page. Changes will become effective once they are posted on the Website. It is your responsibility to check this page regularly to become familiar with the current version of the Terms.</p>
    </div>
  
    <div class="mb-5">
      <h5>Contact Us</h5>
      <p>If you have any questions or concerns regarding these Terms, please feel free to contact us at 
        <a href="mailto:{{getContactEmail()}}" class="btn-link">
          {{getContactEmail()}}
        </a>.
      </p>
    </div>
  
  </section>