<section class="max-w-7xl mx-auto py-10 px-10 lg:px-0 min-w-[400px]">
  
    <h4 class="mb-5">
      Copyright for Resources by 
      <span>{{getWebsiteTitle()}}</span>
      (<span>{{getWebsiteShortTitle()}}</span>)  
    </h4>
  
    <div class="mb-5">
      <span><strong>Last updated: [<span>{{getPrivacyTermsOfUseUpdated()}}</span>]</strong></span>
      <p>Welcome to <a href="{{getWebsiteURL()}}/">{{getWebsiteURL()}}</a>. This page outlines the copyright terms for all resources created, published, or otherwise made available by <span>{{getWebsiteTitle()}}</span>.</p>
    </div>
    
    <div class="mb-5">
      <h5>Introduction</h5>
      <p>This document outlines the copyright terms for all resources created, published, or otherwise made available by <strong>Aiming For My Best Self</strong>, <strong>a4mbs</strong>, and <strong>a4mbs82</strong>. For the purposes of this document, "resources" refer to all creative works including but not limited to images, 3D models, text materials, designs, and digital content.</p>
    </div>
  
    <div class="mb-5">
      <h5>Copyright Notice</h5>
      <p>All resources under the branding of <strong>Aiming For My Best Self</strong>, <strong>a4mbs</strong>, or <strong>a4mbs82</strong> are protected under international copyright laws. This applies to resources regardless of their location, including on social media accounts, websites, digital portfolios, or other media channels affiliated with these entities.</p>
    </div>
  
    <div class="mb-5">
      <h5>Authorized Use</h5>
      <p>Use of these resources is strictly permitted only if obtained from official sources affiliated with <strong>Aiming For My Best Self</strong>, <strong>a4mbs</strong>, or <strong>a4mbs82</strong>, such as stock resource websites or our official digital portfolios. This includes downloads from our social media accounts in compliance with the respective platform's copyright policies.</p>
    </div>
  
    <div class="mb-5">
      <h5>Prohibited Use</h5>
      <p>Any use of our resources, including for personal non-commercial purposes (such as desktop backgrounds or non-commercial product prints), is strictly prohibited unless the resource is obtained through the mentioned official channels. This includes reproduction, distribution, or alteration for any purpose without explicit permission.</p>
    </div>

    <div class="mb-5">
      <h5>Social Media Use</h5>
      <p>If a resource appears on our social media accounts, its use must comply with the terms and conditions of the respective social media platform regarding copyright. This does not imply a waiver of our copyright over these resources.</p>
    </div>
  
    <div class="mb-5">
      <h5>Contact and Inquiries</h5>
      <p>For questions about the use of our resources or to seek permissions beyond the scope described here, please contact us at 
        <a href="mailto:{{getContactEmail()}}" class="btn-link">
          {{getContactEmail()}}
        </a>.
      </p>
    </div>

    <div class="mb-5">
      <h5>Updates and Amendments</h5>
      <p>These copyright terms may be updated or amended periodically. It is your responsibility to review this page regularly to stay informed of the current terms.</p>
    </div>
  
  </section>
  