/* import google fonts and boxicons */
@import 'boxicons/css/boxicons.min.css'; /* import boxicons */
@import '../a4mbs-config/a4mbs-fonts.config.css'; /* import Google fonts */

/* import tailwindcss */
/* How to Fix unknownAtRules Warnings From Tailwind CSS: https://www.codeconcisely.com/posts/tailwind-css-unknown-at-rules/ */

@tailwind base;
@tailwind components;
@tailwind utilities;

/*this won't work when using @import */
@layer base {

  /* these classes doesn't work when there are in an external file they must be declared on base layer */
  .typography-size-base {
    @apply
      lg:text-xl
      md:text-lg
      text-base
  }
  
  .typography-size-sm {
    @apply
      lg:text-base
      md:text-sm
      text-xs
  }
  

  * {
    transition: all 0.3s ease-in-out !important;
  }

  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply
      leading-relaxed
      typography-size-base
      text-slate-950
      font-sans;
  }
  
  footer {
    @apply
      typography-size-sm;
  }

  footer a, footer button {
    @apply
      typography-size-sm;
  }

  button, a {
    @apply
      typography-size-base;
  }

  h1, h2, h3 {
    @apply
      font-serif
      font-semibold;
  }

  h1 {
    @apply
      lg:text-8xl      
      md:text-7xl
      text-6xl;     
  }

  h2 {
    @apply
      lg:text-6xl
      md:text-5xl
      text-4xl;     
  }

  h3  {
      @apply
        lg:text-5xl
        md:text-4xl
        text-3xl;       
    }


  h4, h5, h6 {
    @apply
      font-special-alternate;
  }
  
  h4 {
    @apply 
      lg:text-4xl
      md:text-3xl
      text-2xl
      font-bold;    
  }
  
  h5 {
    @apply 
      lg:text-2xl
      md:text-xl
      text-lg
      font-semibold;
  }
  
  h6 {
    @apply 
      lg:text-lg
      md:text-base
      text-sm
      font-semibold;
  }
  
  p, ul {
    @apply
      mb-8;
  }
  
  li {
    @apply
      mb-3;      
  }

  a {
    @apply
      text-success-default
      hover:text-success-dark
      transition-colors
      font-semibold
      no-underline
      hover:underline;   
  }

}

@import './widgets/buttons-outline.css'; /* import buttons outline */
@import './widgets/buttons.css'; /* import buttons */
@import './widgets/containers.css'; /* import containers */
@import './widgets/typography.css'; /* import typography */
