.btn-outline-danger {
  @apply
   text-danger-default
   hover:text-white border
   border-danger-default
   hover:bg-danger-dark 
   font-medium 
   rounded-lg 
   text-sm 
   px-5 
   py-2.5 
   text-center 
   mr-2 
   mb-2
}

.btn-outline-primary {
  @apply
   text-primary-default
   hover:text-white border
   border-primary-default
   hover:bg-primary-dark 
   font-medium 
   rounded-lg 
   text-sm 
   px-5 
   py-2.5 
   text-center 
   mr-2 
   mb-2
}

.btn-outline-secondary {
  @apply
   text-secondary-default
   hover:text-white border
   border-secondary-default
   hover:bg-secondary-dark 
   font-medium 
   rounded-lg 
   text-sm 
   px-5 
   py-2.5 
   text-center 
   mr-2 
   mb-2
}

.btn-outline-info {
  @apply
   text-info-default
   hover:text-white border
   border-info-default
   hover:bg-info-dark 
   font-medium 
   rounded-lg 
   text-sm 
   px-5 
   py-2.5 
   text-center 
   mr-2 
   mb-2
}

.btn-outline-success {
  @apply
   text-success-default
   hover:text-white border
   border-success-default
   hover:bg-success-dark 
   font-medium 
   rounded-lg 
   text-sm 
   px-5 
   py-2.5 
   text-center 
   mr-2 
   mb-2
}

.btn-outline-warning {
  @apply
   text-warning-default
   hover:text-white border
   border-warning-default
   hover:bg-warning-dark 
   font-medium 
   rounded-lg 
   text-sm 
   px-5 
   py-2.5 
   text-center 
   mr-2 
   mb-2
}




