<div class="xl:max-w-[1920px] mx-auto min-w-[400px] px-10 grid place-items-center">
  <h2 class="text-center text-6xl xl:text-8xl mb-8 xl:mb-12">{{data.text.title}}</h2>
  <p class="text-center text-xl leading-8 max-w-xl xl:text-2xl xl:leading-9 mb-10" [innerHTML]="data.text.content"></p>
  <!-- Grid container for responsiveness -->
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
    <!-- Loop through each item -->
    <ng-container *ngFor="let item of data.features">
      <div class="text-center px-10 md:px-14 xl:px-8">
        <!-- Center the icon/image -->
        <div class="flex justify-center items-center">
          <a4mbs-display-image
            width="84"
            height="84"
            class="mb-6"
            [imagePath]="item.image.path"
            [imageAlt]="item.image.alt"
          ></a4mbs-display-image>
        </div>
        <h3 class="mb-3">{{item.text.title}}</h3>
        <p class="text-base leading-6 xl:text-lg xl:leading-7" [innerHTML]="item.text.content"></p>
      </div>
    </ng-container>
  </div>
</div>
