<div class="max-w-7xl mx-auto min-w-[400px] px-10 xl:px-0 flex flex-col-reverse md:flex-row items-center">
  <div class="md:w-1/2 flex justify-center items-center">
      <w-display-image
        [imagePath]="this.data.hero.image.path"   
        [hasOverlay]="true"
        [overlayTitle]="this.data.hero.text.title"
        [overlaySubtitle]="this.data.hero.text.content"
        [overlayHasLinkButton]="true"
        [overlayLinkButtonLabel]="this.data.hero.button?.title"
        [overlayLinkButtonURL]="this.data.hero.button?.link"   
        class="md:shadow-[-1.5rem_1.5rem] 
        md:shadow-light-100">
      </w-display-image>      
   </div>
  <div class="md:w-1/2 ms-10 mb-10 md:mb-0">

    <div class="mb-5">
      <h2 class="mb-3">{{this.data.text.title}}</h2>
      <p>
        {{this.data.text.content}}
      </p>
    </div>

    <ul class="ps-5">
      <ng-container *ngFor="let item of this.data!.listItems">
        <li class="leading-[2.8]">
          <i [ngClass]="['inline-block me-3 text-success scale-[1.8] pt-2', item.icon]"></i>
          {{item.content}}
        </li>
      </ng-container>      
    </ul>

  </div>  
</div>